examples/flow.json
[
{
"id":"cd50cb58f517d903",
"type":"tab",
"label":"MyOCPP",
"disabled":false,
"info":"",
"env":[]
},
{
"id":"0dc748348b7c5c92",
"type":"ocpp-client",
"z":"cd50cb58f517d903",
"name":"OCPP ",
"cbid":"NEW",
"server":"ws://localhost:8080/",
"cpv":"",
"cpm":"",
"password":"HiIAMPASSWORDDDDDDD",
"x":650,
"y":380,
"wires":[
[
"e3f03689f66e60e7"
],
[
"7d34debc58601974"
]
]
},
{
"id":"bbebe25e4b6d5644",
"type":"ui_switch",
"z":"cd50cb58f517d903",
"name":"",
"label":"TurnOn",
"tooltip":"",
"group":"da89b9993aebc2a8",
"order":2,
"width":0,
"height":0,
"passthru":true,
"decouple":"false",
"topic":"topic",
"topicType":"msg",
"style":"",
"onvalue":"true",
"onvalueType":"bool",
"onicon":"",
"oncolor":"",
"offvalue":"false",
"offvalueType":"bool",
"officon":"",
"offcolor":"",
"animate":false,
"className":"",
"x":440,
"y":80,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"e3f03689f66e60e7",
"type":"debug",
"z":"cd50cb58f517d903",
"name":"CP-CSResponse",
"active":true,
"tosidebar":true,
"console":false,
"tostatus":false,
"complete":"payload",
"targetType":"msg",
"statusVal":"",
"statusType":"auto",
"x":970,
"y":240,
"wires":[]
},
{
"id":"c2766b8adf0a67d4",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"BootNotification",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"BootNotification\":{\"chargePointVendor\":\"Mei\",\"chargePointModel\":\"MeiModel\",\"chargePointSerialNumber\":\"ABCDEFGHIJ\",\"chargeBoxSerialNumber\":\"ABCDEFGHIJK\",\"firmwareVersion\":\"1\",\"iccid\":\"ABCDEFGHIJKLMNOPQRS\",\"imsi\":\"ABCDEFGHIJKLMNO\",\"meterType\":\"\",\"meterSerialNumber\":\"1\"}}",
"payloadType":"json",
"x":280,
"y":240,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"3034a0f077da1d9b",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"DataTransfer",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"DataTransfer\":{\"vendorId\":\"ABCDEFGHIJKLM\",\"messageId\":\"ABCDEFGHI\",\"data\":\"ABCD\"}}",
"payloadType":"json",
"x":270,
"y":300,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"e7c291698b9e49b7",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"AuthorizeRequest",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"Authorize\":{\"idTag\":\"ABCDEFGHIJKLMNOPQRS\"}}",
"payloadType":"json",
"x":290,
"y":360,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"689fbc6d7d1928e7",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"StatusNotification",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"StatusNotification\":{\"connectorId\":0,\"errorCode\":\"NoError\",\"status\":\"Available\",\"info\":\"ABCDEFGHIJKLMNOPQRSTUVWXY\",\"timestamp\":\"2023-07-08T06:18:31.165374Z\",\"vendorId\":\"ABCDEFGHIJKLMNOPQRSTUVWXYZA\",\"vendorErrorCode\":\"ABCDEFGHIJKLMNO\"}}",
"payloadType":"json",
"x":290,
"y":440,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"761e1d8f7bae8d7c",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"StartTransaction",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"StartTransaction\":{\"connectorId\":1,\"idTag\":\"MEI-EXAMPLE-BOX\",\"meterStart\":0,\"timestamp\":\"2023-09-08T06:18:31.165374Z\"}}",
"payloadType":"json",
"x":280,
"y":500,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"30fc208940193b98",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"StopTransaction",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"StopTransaction\":{\"transactionId\":0,\"timestamp\":\"2023-07-08T06:18:31.165374Z\",\"meterStop\":0,\"idTag\":\"MEI-EXAMPLE-BOX\",\"reason\":\"EVDisconnected\",\"transactionData\":[{\"timestamp\":\"2023-07-08T06:18:31.165374Z\",\"sampledValue\":[]},{\"timestamp\":\"2023-07-08T06:18:31.165374Z\",\"sampledValue\":[{\"value\":\"12\",\"context\":\"Sample.Clock\",\"format\":\"Raw\",\"measurand\":\"Power.Offered\",\"phase\":\"L1-L2\",\"location\":\"Inlet\",\"unit\":\"VA\"}]}]}}",
"payloadType":"json",
"x":280,
"y":560,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"19948ab5686a2d18",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"MeterValues",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"MeterValues\":{\"connectorId\":0,\"transactionId\":12345,\"meterValue\":[{\"sampledValue\":[{\"unit\":\"Wh\",\"context\":\"Sample.Periodic\",\"measurand\":\"Temperature\",\"location\":\"Outlet\",\"value\":\"6.235000134\"},{\"unit\":\"W\",\"context\":\"Sample.Periodic\",\"measurand\":\"Temperature\",\"location\":\"Outlet\",\"value\":\"0\"}],\"timestamp\":\"2023-07-08T06:18:31.165374Z\"}]}}",
"payloadType":"json",
"x":270,
"y":620,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"7d34debc58601974",
"type":"debug",
"z":"cd50cb58f517d903",
"name":"CS-CPCommand",
"active":true,
"tosidebar":true,
"console":false,
"tostatus":false,
"complete":"payload",
"targetType":"msg",
"statusVal":"",
"statusType":"auto",
"x":970,
"y":420,
"wires":[]
},
{
"id":"ede3c2a04d9c0968",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"2",
"crontab":"",
"once":true,
"onceDelay":"0.5",
"topic":"generator",
"payload":"true",
"payloadType":"str",
"x":280,
"y":980,
"wires":[
[
"c818b002df7272f0"
]
]
},
{
"id":"8e03b2347ee576f1",
"type":"power-monitor",
"z":"cd50cb58f517d903",
"name":"car",
"startthreshold":"0",
"stopthreshold":0,
"startafter":"0",
"stopafter":"10",
"energydecimals":"2",
"emitidle":true,
"x":870,
"y":860,
"wires":[
[
"34ca8a02d56bdbde",
"61bc3c7921270bb3"
]
]
},
{
"id":"e946ce552709bc37",
"type":"ui_gauge",
"z":"cd50cb58f517d903",
"name":"",
"group":"da89b9993aebc2a8",
"order":0,
"width":0,
"height":0,
"gtype":"donut",
"title":"PowerDisplayWatts",
"label":"kwh",
"format":"{{value}}",
"min":0,
"max":"10000000",
"colors":[
"#0dd30d",
"#e6e600",
"#ca3838"
],
"seg1":"",
"seg2":"",
"diff":false,
"className":"",
"x":1260,
"y":860,
"wires":[]
},
{
"id":"34ca8a02d56bdbde",
"type":"function",
"z":"cd50cb58f517d903",
"name":"getPower",
"func":"constMIN=1;\n\n\nconstMAX=20;\n\n//node.warn(\"Helloworld\")\n////Themaximumisexclusiveandtheminimumisinclusive\n//node.warn(msg);\n//node.warn(msg.payload.energy);\n//msg.payload=functiongetRandomInt(msg){\n\n//console.log(msg.payload);\n\n//if(msg.payload.energy)\n//returnmsg.payload.energy;\n//else\n//return0;\n\n//}();\n\nmsg.payload=msg.payload.energy;\n\n\n\n\n\nreturnmsg;",
"outputs":1,
"noerr":0,
"initialize":"",
"finalize":"",
"libs":[],
"x":1000,
"y":960,
"wires":[
[
"e946ce552709bc37",
"92572427e7eaa3ef"
]
]
},
{
"id":"92572427e7eaa3ef",
"type":"debug",
"z":"cd50cb58f517d903",
"name":"debug2",
"active":false,
"tosidebar":true,
"console":false,
"tostatus":false,
"complete":"false",
"statusVal":"",
"statusType":"auto",
"x":1220,
"y":1020,
"wires":[]
},
{
"id":"c818b002df7272f0",
"type":"function",
"z":"cd50cb58f517d903",
"name":"consumerPower",
"func":"constMIN=3500;//wattsFor230v\n\n\nconstMAX=6600;//wattsfor440v\nconstCURRENT=15;//Inamps\nvarturnedOn=false;\n\nif(msg.payload=='green'){\nturnedOn=true;\n}else{\nturnedOn=false;\n}\nif(turnedOn){\nmsg.payload=functiongetRandomInt(min=MIN,max=MAX){\n\n\nmin=Math.ceil(min);\n\n\nmax=Math.floor(max);\n\n\n//return((Math.floor(Math.random()*(max-min))+min)*CURRENT)/1000;\nreturn((Math.floor(Math.random()*(max-min))+min));\n\n\n}();\n\n}else{\nmsg.payload=null;\n}\n\n\n\n\n\nreturnmsg;",
"outputs":1,
"noerr":0,
"initialize":"",
"finalize":"",
"libs":[],
"x":580,
"y":920,
"wires":[
[
"8e03b2347ee576f1",
"d91a7c4e32560022",
"37c96607bdb7ad07",
"2c69edfbc532bfbb"
]
]
},
{
"id":"d91a7c4e32560022",
"type":"debug",
"z":"cd50cb58f517d903",
"name":"power",
"active":false,
"tosidebar":true,
"console":false,
"tostatus":false,
"complete":"payload",
"targetType":"msg",
"statusVal":"",
"statusType":"auto",
"x":870,
"y":1060,
"wires":[]
},
{
"id":"b4f9f7cd936832e7",
"type":"inject",
"z":"cd50cb58f517d903",
"name":"simulateServerResponse",
"props":[
{
"p":"payload"
},
{
"p":"topic",
"vt":"str"
}
],
"repeat":"",
"crontab":"",
"once":false,
"onceDelay":0.1,
"topic":"",
"payload":"{\"simulateServerResponse\":{\"status\":\"Rejected\"}}",
"payloadType":"json",
"x":310,
"y":180,
"wires":[
[
"0dc748348b7c5c92"
]
]
},
{
"id":"af28e231c047ab80",
"type":"ui_text",
"z":"cd50cb58f517d903",
"group":"da89b9993aebc2a8",
"order":3,
"width":"3",
"height":"1",
"name":"",
"label":"VehicleCharging",
"format":"{{msg.payload}}",
"layout":"row-spread",
"className":"",
"style":false,
"font":"",
"fontSize":16,
"color":"#000000",
"x":710,
"y":780,
"wires":[]
},
{
"id":"b58f8b6d8335a1b4",
"type":"ui_ui-light",
"z":"cd50cb58f517d903",
"action":"set",
"actionType":"str",
"write":"payload",
"writeType":"msg",
"name":"",
"group":"da89b9993aebc2a8",
"order":4,
"width":"1",
"height":"1",
"x":490,
"y":780,
"wires":[
[
"af28e231c047ab80"
]
]
},
{
"id":"7186f46f58e03070",
"type":"ui_switch",
"z":"cd50cb58f517d903",
"name":"",
"label":"ConnectVehicle",
"tooltip":"",
"group":"da89b9993aebc2a8",
"order":4,
"width":0,
"height":0,
"passthru":true,
"decouple":"false",
"topic":"topic",
"topicType":"msg",
"style":"",
"onvalue":"green",
"onvalueType":"str",
"onicon":"",
"oncolor":"",
"offvalue":"grey",
"offvalueType":"str",
"officon":"",
"offcolor":"",
"animate":false,
"className":"",
"x":240,
"y":780,
"wires":[
[
"b58f8b6d8335a1b4",
"c818b002df7272f0"
]
]
},
{
"id":"c0a12eddc76a99a3",
"type":"ui_gauge",
"z":"cd50cb58f517d903",
"name":"",
"group":"358ef2114df38b19",
"order":5,
"width":0,
"height":0,
"gtype":"gage",
"title":"CurrentinA",
"label":"amps",
"format":"{{value}}",
"min":0,
"max":"30",
"colors":[
"#00b500",
"#6c6c04",
"#ca3838"
],
"seg1":"",
"seg2":"",
"diff":false,
"className":"",
"x":1170,
"y":1180,
"wires":[]
},
{
"id":"2c69edfbc532bfbb",
"type":"function",
"z":"cd50cb58f517d903",
"name":"voltageSimulate",
"func":"constMIN=220;\n\n\nconstMAX=230;\nconstCURRENT=15;\n\nnode.warn(msg.payload);\nif(msg.payload){\nmsg.payload=functiongetVoltageRandom(min=MIN,max=MAX){\n\n\n \nreturn(msg.payload/CURRENT);\n\n}();\n\n\n}else{\nmsg.payload=0;\n}\n\n\n\n\n\nreturnmsg;",
"outputs":1,
"noerr":0,
"initialize":"",
"finalize":"",
"libs":[],
"x":820,
"y":1260,
"wires":[
[
"101f9468e7ebb8c3",
"39b89174f1e091ae"
]
]
},
{
"id":"101f9468e7ebb8c3",
"type":"debug",
"z":"cd50cb58f517d903",
"name":"debug7",
"active":false,
"tosidebar":true,
"console":false,
"tostatus":false,
"complete":"false",
"statusVal":"",
"statusType":"auto",
"x":1160,
"y":1260,
"wires":[]
},
{
"id":"37c96607bdb7ad07",
"type":"function",
"z":"cd50cb58f517d903",
"name":"currentSimulate",
"func":"constMIN=5;\nconstMAX=20;\nconstCURRENT=14.1;\n\nmsg.payload=functiongetCurrentRandom(min=MIN,max=MAX){\nmin=Math.ceil(MIN);\nmax=Math.floor(MAX);\nreturn((Math.floor(Math.random()*(max-min))+min));\n}();\n\nreturnmsg;",
"outputs":1,
"noerr":0,
"initialize":"",
"finalize":"",
"libs":[],
"x":820,
"y":1160,
"wires":[
[
"101f9468e7ebb8c3",
"c0a12eddc76a99a3"
]
]
},
{
"id":"39b89174f1e091ae",
"type":"ui_level",
"z":"cd50cb58f517d903",
"group":"358ef2114df38b19",
"order":1,
"width":0,
"height":0,
"name":"",
"label":"voltage",
"colorHi":"#e60000",
"colorWarn":"#0cc07b",
"colorNormal":"#acc016",
"colorOff":"#595959",
"min":"50",
"max":"300",
"segWarn":"100",
"segHigh":"250",
"unit":"volts",
"layout":"sh",
"channelA":"",
"channelB":"",
"decimals":0,
"animations":"soft",
"shape":2,
"colorschema":"fixed",
"textoptions":"default",
"colorText":"#eeeeee",
"fontLabel":"",
"fontValue":"",
"fontSmall":"",
"colorFromTheme":true,
"textAnimations":false,
"hideValue":false,
"tickmode":"off",
"peakmode":false,
"property":"payload",
"peaktime":3000,
"x":1150,
"y":1320,
"wires":[]
},
{
"id":"61bc3c7921270bb3",
"type":"function",
"z":"cd50cb58f517d903",
"name":"sendMeterValues",
"func":"\n\nvardata={\n\"MeterValues\":{\n\"connectorId\":21,\n\"transactionId\":12345,\n\"meterValue\":[\n{\n\"sampledValue\":[\n{\n\"unit\":\"Wh\",\n\"context\":\"Sample.Periodic\",\n\"measurand\":\"Temperature\",\n\"location\":\"Outlet\",\n\"value\":msg.payload.energy+\"\"\n},\n{\n\"unit\":\"W\",\n\"context\":\"Sample.Periodic\",\n\"measurand\":\"Temperature\",\n\"location\":\"Outlet\",\n\"value\":\"0\"\n}\n],\n\"timestamp\":\"2023-07-08T06:18:31.165374Z\"\n}\n]\n}\n};\n\n\nmsg.payload=data\n\n\nreturnmsg;",
"outputs":1,
"noerr":0,
"initialize":"",
"finalize":"",
"libs":[],
"x":1010,
"y":680,
"wires":[
[
"0dc748348b7c5c92",
"56f7ccac61f7ee1b"
]
]
},
{
"id":"56f7ccac61f7ee1b",
"type":"debug",
"z":"cd50cb58f517d903",
"name":"debug8",
"active":true,
"tosidebar":true,
"console":false,
"tostatus":false,
"complete":"false",
"statusVal":"",
"statusType":"auto",
"x":1200,
"y":700,
"wires":[]
},
{
"id":"da89b9993aebc2a8",
"type":"ui_group",
"name":"ChargeStation",
"tab":"04a54185c824a2a7",
"order":1,
"disp":true,
"width":"6",
"collapse":false,
"className":""
},
{
"id":"358ef2114df38b19",
"type":"ui_group",
"name":"Monitor",
"tab":"04a54185c824a2a7",
"order":2,
"disp":true,
"width":"6",
"collapse":false,
"className":""
},
{
"id":"04a54185c824a2a7",
"type":"ui_tab",
"name":"MeiOCPP",
"icon":"dashboard",
"order":1,
"disabled":false,
"hidden":false
}
]